<div class="conv-panel">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-auto">
        <h1 class="display-5" *ngIf="!isDetailsPage">Currancy Exchanger</h1>
        <h1 class="display-5" *ngIf="isDetailsPage">
          {{ baseCurr }} - {{ detailCurr }}
        </h1>
      </div>
      <div class="col-md-auto ms-md-auto">
        <button
          type="button"
          class="btn btn-sm btn-light"
          *ngIf="isDetailsPage"
          [routerLink]="['/']"
        >
          Back to Home <span class="fa fa-home"></span>
        </button>
      </div>
    </div>
    <div class="converter mt-10">
      <form [formGroup]="convertForm" class="row">
        <div
          class="col-sm-12"
          [ngClass]="{ 'col-md-3': !isDetailsPage, 'col-md-4': isDetailsPage }"
        >
          <div class="form-floating mb-3">
            <input
              type="number"
              min="1"
              class="form-control"
              id="amount"
              formControlName="amount"
              placeholder="Please Add Amount"
            />
            <label for="amount">Please Add Amount</label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="form-floating">
            <select
              class="form-select"
              formControlName="from"
              id="from"
              aria-label="Please Select"
              [attr.disabled]="detailCurr"
            >
              <option value="">Select Currency</option>
              <option
                *ngFor="let curr of api.currenciesList"
                [value]="curr.symbol"
              >
                {{ curr.symbol }} - {{ curr.name }}
              </option>
            </select>
            <label for="from">From</label>
          </div>
        </div>
        <div class="col-md-1 col-sm-12 swapBtn" *ngIf="!isDetailsPage">
          <a class="btn btn-block btn-warning" (click)="swapSelection()">
            <i class="fa fa-light fa-rotate"></i>
          </a>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="form-floating">
            <select
              class="form-select"
              formControlName="to"
              id="to"
              aria-label="Please Select"
            >
              <option value="">Select Currency</option>
              <option
                *ngFor="let curr of api.currenciesList"
                [value]="curr.symbol"
              >
                {{ curr.symbol }} - {{ curr.name }}
              </option>
            </select>
            <label for="to">To</label>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="d-grid col-4 mx-auto stickyPanel">
          <p>
            1 {{ baseCurr }} = {{ api.USDEURRate | number : '.0-3' }}
            {{ targetedCurr }}
          </p>
        </div>
        <div
          class="d-grid gap-2 col-4 mx-auto"
          *ngIf="!isDetailsPage && result"
        >
          <button
            class="btn btn-warning"
            type="button"
            (click)="routeToDetail()"
            [disabled]="convertForm.invalid"
          >
            More Details
          </button>
        </div>
        <div class="d-grid gap-2 col-4 mx-auto">
          <button
            class="btn btn-warning"
            type="button"
            (click)="convert()"
            [disabled]="convertForm.invalid"
          >
            Convert
          </button>
        </div>
      </form>
    </div>
    <div class="row results" *ngIf="result">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">
              {{ result | number : '.0-3' }} {{ targetedCurr }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
